.input {
  position: relative;
}

.input > label {
  font-size: 11px;
  text-transform: uppercase;
  color: #ccc;
}

.input > div > .close-button {
  position: absolute;
  right: 5px;
  bottom: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: #2E2E2E;
  border: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.input > div > .field {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding: 10px;
  padding-left: 0;
  padding-right: 40px;
}
